body{
	font-family: "Source Code Pro", "Meta", "Helvetica", "Tahoma", "Arial";
}

#main{
	width: 1000px;
	margin: 0 auto;
}

#head{
	width: 600px;
	margin-bottom: 50px;
}

.active{
	font-weight: bold;
}

a.printer, a.year, a.month{
	margin-right: 10px;
}

.userTable{
	margin-top: 30px;
}

table{
	border: 1px solid black;
}

tr.noCostcenter{
	background-color: red;
}

table td{
	border-top: 1px solid black;
}

#chart{
	height: 500px;
}