body{
	font-family: "Source Code Pro", "Meta", "Helvetica", "Tahoma", "Arial";
}

#main{
	width: 800px;
	margin: 0 auto;
}

#head{
	width: 600px;
	margin-bottom: 50px;
}

.active{
	font-weight: bold;
}

a.printer{
	margin-right: 10px;
}

.userTable{
	margin-top: 30px;
}